<app-sidebar></app-sidebar>
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 padding-right">
                <div class="feature-items">
                    <h2 class="title text-center">PRODUCTS</h2>
                </div>
                <a class="btn btn-info" (click)="openAddProduct()">Add Product</a> 
                <table class="table table-bordered" *ngIf="isShown">
                    <thead >
                        <tr>
                            <th>Id</th>
                            <th>Image</th>
                            <th>Product</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Catergory</th>
                            <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of prod; let i = index">
                            <td>{{ i + 1 }} </td>
                            <td><img src="{{product.image}}" onerror="this.src='assets/pictures/purse.jpg'" width="90px" height="70px"></td>
                            <td>{{product.name}}</td>
                            <td>{{product.description}}</td>
                            <td>{{product.price | currency:'PHP'}}</td>
                            <td>{{product.category}}</td>
                            <td><a class="btn btn-success" (click)="toggleShow(); editNewProduct(product,i)">Edit</a></td>
                            <td><a class="btn btn-danger" (click)="deleteNewProduct(i)">Delete</a></td>
                        </tr>
                        
                    </tbody>
                </table>

                    <!--Add new Data-->
                    <section  *ngIf="ifClicked" (keyup.enter)="isEnter()" class="pop-up-addnewdata">
                        <div class="col-sm-9" >
                            <div class="content-blog">
                                <form [formGroup]="productForm" #form="ngForm">
                                <div class="input-group" >
                                    <div class="input-group-addon">Product Name</div>
                                    <input type="text" class="form-control" placeholder="Product Name" formControlName="name">
                                    
                                </div>

                                <div class="input-group" >
                                    <div class="input-group-addon">Description</div>
                                    <input type="text" class="form-control"placeholder="Product Description" formControlName="description" >
                                </div>

                                <div class="input-group" >
                                    <div class="input-group-addon">Price</div>
                                    <input type="text" class="form-control"placeholder="Product Price" formControlName="price" (keypress)="keyPressNumbers($event)" >
                                </div>

                                <div class="input-group" >
                                    <div class="input-group-addon">Category</div>
                                    <select name="status" class="form-control" formControlName="category" >
                                        <option value="" disabled selected hidden>Select Category</option>
                                        <option *ngFor="let category of category" value="{{ category.name }}" >{{ category.name }}</option>
                                    </select>

                                </div>
                                <input type="text" formControlName="quantity" hidden>
                                <div class="input-group" >
                                    <div class="input-group-addon">Image</div>
                                    <input type="file" accept="image/*" class="form-control" formControlName="image" style="width:135%;"> 
                                </div>

                                <div class="input-group">
                                    <button class="btn btn-success" (click)=" addNewProduct()" [disabled]="!productForm.valid">Submit</button>&nbsp;
                                    <a class="btn btn-danger" (click)="cancelAdd()">Cancel</a>
                                </div>
                            </form>
                            </div>
                        </div>
                    </section>

                    <!--Edit Data-->
                    <section  *ngIf="isClicked" (keyup.enter)="onEnter()" class="pop-up-addnewdata">
                        <div class="col-sm-9" >
                            <div class="content-blog">
                                <form [formGroup]="productForm" #form="ngForm"  (ngSubmit)="setNewProduct()">
                                <div class="input-group" >
                                    <div class="input-group-addon">Product Name</div>
                                    <input type="text" class="form-control" placeholder="Product Name" formControlName="name" >
                                </div>

                                <div class="input-group" >
                                    <div class="input-group-addon">Description</div>
                                    <input type="text" class="form-control"placeholder="Product Description" formControlName="description">
                                </div>

                                <div class="input-group" >
                                    <div class="input-group-addon">Price</div>
                                    <input type="text" class="form-control"placeholder="Product Price" formControlName="price" (keypress)="keyPressNumbers($event)" >
                                </div>

                                <div class="input-group" >
                                    <div class="input-group-addon">Category</div>
                                    <select name="status" class="form-control" formControlName="category">
                                        <option value="" disabled selected hidden>Select Category</option>
                                        <option *ngFor="let category of category" value="{{ category.name }}" >{{ category.name }}</option>
                                    </select>
                                </div>
                                    
                                <div class="input-group">
                                    <button class="btn btn-success" type="submit">Submit</button>&nbsp;
                                    <a class="btn btn-danger" (click)="cancelEdit()">Cancel</a>
                                </div>
                           </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
</body>
