<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<div class="container">
 <!-- <nav>
  <a [routerLink]="['/']">Home</a> &nbsp;
  <a [routerLink]="['/product']">Shop</a> &nbsp;
  <a [routerLink]="['/cart']">Cart</a> &nbsp;
  <a [routerLink]="['/index']">Login</a> &nbsp;
    
  </nav>

  -->
    <router-outlet></router-outlet>
    
  </div>