<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<app-homepage-user></app-homepage-user>

<body>
  <div id="bannerImage">
    <div class="container">
     <div id="bannerContent">
    <h1> Welcome to Hablon de Cebu</h1>
    <h1>We sell hablon products.</h1>

    <a class="btn btn-danger">Shop Now</a>
     </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <div  class="thumbnail">
            <a href="#">
                 <img src="assets/pictures/pitaka.jpg" alt="Camera">
            </a>
            
                 <div class="caption">
                         <p id="autoResize">Pouch</p>
                         <p>Choose among the best available in the store.</p>
                 </div>
            
        </div>
    </div>

    <div class="col-xs-4">
      <div  class="thumbnail">
          <a href="#">
               <img src="assets/pictures/purse.jpg" alt="Camera">
          </a>
          
               <div class="caption">
                       <p id="autoResize">Pouch</p>
                       <p>Choose among the best available in the store.</p>
               </div>
          
      </div>
  </div>

  <div class="col-xs-4">
    <div  class="thumbnail">
        <a href="#">
             <img src="assets/pictures/shawl.jpg" alt="Camera">
        </a>
        
             <div class="caption">
                     <p id="autoResize">Pouch</p>
                     <p>Choose among the best available in the store.</p>
             </div>
        
    </div>
</div>
    </div>
  </div>
</body>
    
